body {
  /* background-color: #00a1ec; */
  background-image: url("Images/water.jpg");
}

.headers {
  text-align: center;
  font-size: 300%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#img1 {
  width: 800px;
  height: 800%;
  display: block;
  margin: auto;
}

#img2 {
  width: 800px;
  height: 800%;
  display: block;
  margin: auto;
}

#img3 {
  display: block;
  margin: auto;
  padding: 5%;
}

.tables {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-family: "Times New Roman", Times, serif;
  font-size: 150%;
}

th {
  background-color: #f1d302;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

tr:nth-child(even) {
  background-color: black;
}

.information {
  font-family: "Times New Roman", Times, serif;
  font-size: 150%;
  margin-left: 10%;
  margin-right: 10%;
  letter-spacing: 1px;
  line-height: 200%;
}

#heading {
  font-size: 80px;
  color: gold;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@media screen and (max-width: 599px) {
  body{
    background-color: #00a1ec;
    background-image: none;
  }

  #heading {
    text-align: center;
    width: 200%;
  }

  #img1{
    align-items: center;
    width: 200%;
    margin-left: 4%;
  }

  p{
    text-align: center;
    width: 200%;
  }

  .headers{
    align-items: center;
    margin: auto;
    width: 200%;
  }

  #img2{
    align-items: center;
    width: 200%;
    margin-left: 4%;
  }
  
  #table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200%;
    /* outline: 1px red dashed */
  }

  #img3{
    align-items: center;
    width: 200%;
    margin-left: -1%;
  }
}
